
body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Fira Code Retina, Consolas, monospace
}

body > div {
    flex: 0 1 auto;
}

.instructions {
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
}

.instructions > div {
    margin: 4px;
    padding: 4px;
    flex: 0 1 auto;
    display: inline-flex;
    flex-direction: column;
    background-color: lightblue;
    border: 1px solid white
}

.instructions > div > * {
    flex: 0 1 auto;
}

.instructions > div > button {
    width: fit-content;
}

.instructions > div > pre {
    font-family: Consolas, ""Courier New"", monospace;
    font-size: 12px;
}

.messageLog {
    padding: 4px;
    background-color:aquamarine;
    border: 1px;
    width: 792px;
}
.notes {
    width: 800px;

}