@page "/fetchdata"
@using Microsoft.TryDotNet.WasmRunner
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


